@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    padding: 0;
    margin:0;
    
}

header{
    background-color: lightskyblue;
    padding: 0.5%;

}


.header_menu{
    display: flex;
    gap: 4rem;

}

.header_menu_link {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color:#0A3871;
    text-decoration: none;
    font-weight: 600;
    

}


body {
    background-color: #F3F5FC;
    
    box-sizing: border-box;
    
    height: 100vh;


   /* width: 1440px;
    height: 1024px;
    padding:40px;
    padding: 2.8015%;*/
    
}


.aplicacion{
    display: flex;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    padding: 2%;
    
}

.aplicacion_ingreso{
    width: 70.589%;
    display: flex;
    flex-direction: column;
    /*padding: 0% 5.883% 2.353% 0%;*/
    padding: 0% 0% 2.353% 0%;
    justify-content: space-between;
    
        
}


.aplicacion_ingreso_titulo{
    display: flex;
    align-items:normal;
    height: 17.797%;
    gap: 3%;
}


h1 {
    height: 10%;
    color:#0A3871; 
    font-size: 2.4rem;
}

.aplicacion_ingreso_contenedor{
    display: flex;
    flex-direction: column;
    height: 71.717%;
    padding: 0% 8.334% 0% 20.834%;
    justify-content:space-between;

}




.aplicacion_ingreso_texto {
    
    
    background: transparent;
    color:#0A3871;
    resize: none;
    border: 0 none;
    outline: none;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    
    
    
}

::placeholder{
    color:#0A3871;
    
}


.aplicacion_ingreso_indicacion{
   
    color: #495057;    
    display: flex;
    align-items:center;
    gap:1%;
    font-size: 0.75rem;
    font-family: "Inter", sans-serif; 
    width: 100%; 

}


.aplicacion_ingreso_botones{
    height: 7.098%;
    display: flex;
    justify-content: space-between;
    padding: 0% 8.334% 0% 20.834%;
    gap: 1.5rem;
    height: 4.1875rem;
    
}

button{

    width: 20.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    height: 100%;
    background-color: white;
}
.boton_ingreso_e{
    background-color: #0A3871;
    color: #D8DFE8;
    

}

.boton_ingreso_d{
    background-color: #D8DFE8;
    color: #0A3871;
    


}





.aplicacion_resultado {
    background-color: white;
    width: 29.412%;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 2.353% 0% 2.353% 0%;
    box-shadow: 0rem 0.5rem 0.5rem lightblue;
    justify-content: space-between;
    
    


}


.aplicacion_resultados_visualizacion{

    height: 92.387%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-sizing: border-box
    
   

}

.aplicacion_resultado_imagen_0{

    padding: 0% 8% 8% 8% ;
    width: 84%;
    /*
    width: 21rem;
    height: 19rem;

*/

}
.aplicacion_resultado_texto{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap: 1rem;
    width: 84%;
    



}


.aplicacion_resultado_texto_inicial{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight:bold ;
    color: #343A40;
}


.aplicacion_resultado_texto_indicativo{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #495057;
    
    
}

.aplicacion_resultado_texto_final{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: #495057;
   
    
    background-color: transparent;
    resize: none;
    border: 0 none;
    outline: none;   
    box-sizing: border-box;
    width: 82%;
    
    
    
   
    
    
    
    
}


.aplicacion_resultado_boton{

    /*height: 7.614%;*/
    height: 4.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 8% 0% 8%;


}


.footer{
    background-color: lightskyblue;
    color: #0A3871;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
    

}






@media (min-width: 375px) and (max-width : 768px) {

    .header_menu{
        justify-content: space-evenly;
    }

    /*body {
        
        
         
        
        padding: 2.8015%;
            height: 1174px;
            width: 768px;
        width: 688px;
        height: 1094px;
        padding: 0px;


    }*/

    

    .aplicacion{
        
        flex-direction: column;
           
    }


    .aplicacion_ingreso{
        width: 100%;
        /*height: 87%;*/
        /*padding: 0% 5.883% 2.353% 0%;*/
                   
    }

    .aplicacion_ingreso_contenedor{
        padding: 0% 0% 0% 0%;

       
    
    }
    .aplicacion_ingreso_botones{
        
        padding: 0% 0% 0% 0%;
        gap: 1.5rem;
        height: auto;
    }
    
    button{

        width: 100%;
        height: 4.1875rem;
       
        
    }


    .aplicacion_resultado {
        /*height: 17%;*/
        width: 100%;
    }
    
    .aplicacion_resultado_imagen_0{
        visibility: hidden;
        padding: 0% 0% 0% 0% ;
        height: 0.3rem;
        

    }

    .aplicacion_resultado_texto{
    width: 100%;
    }

    .aplicacion_resultado_boton{
        height: 4.1875rem;
    
    }

   

}

@media (max-width:375px){


    .header_menu{
        justify-content: space-evenly;
    }
    /*
    body {
        
        height: 894px;
        width: 375px;
         
        
       padding: 2.8015%;
            height: 1174px;
            width: 768px;
        width: 688px;
        height: 1094px;
        padding: 0px;


    } */

    .aplicacion{
        
        flex-direction: column;
        gap: 5%; /*al ojo*/
           
    }


    .aplicacion_ingreso{
        width: 100%;
     /*   height: 87%;*/
        /*padding: 0% 5.883% 2.353% 0%;*/
                   
    }

    .aplicacion_ingreso_contenedor{
        padding: 0% 0% 0% 0%;
        justify-content: space-evenly;
        align-items: center;
    
    }

    ::placeholder{
        text-align: center;
    }

    .aplicacion_ingreso_indicacion{
        justify-content: center;
    }



    .aplicacion_ingreso_botones{
        
        padding: 0% 0% 0% 0%;
        gap: 1.5rem;
        flex-direction: column;
        /*height: 9.875rem;*/
        height: auto;
        
        
    }
    
    button{

        width: 100%;
        height: 4.1875rem;
       
        
    }


    .aplicacion_resultado {
       /* height: 17%;*/
        width: 100%;
    }
    
    .aplicacion_resultado_imagen_0{
        visibility: hidden;
        padding: 0% 0% 0% 0% ;
        height: 0.3rem;
        

    }

    .aplicacion_resultado_texto{
    width: 100%;
    }

    .aplicacion_resultado_boton{
        height: 4.1875rem;
    
    }



    }




